<div *ngIf="loading; else dataContent">
  Loading...
</div>
<ng-template #dataContent>
  <div *ngIf="userPosition">
    <h2>Saldo em Conta Corrente: R$ {{ userPosition.checkingAccountAmount }}</h2>
    <h2>Patrimônio Consolidado: R$ {{ userPosition.consolidated }}</h2>
    <h2>Ativos:</h2>
    <ul>
      <li *ngFor="let asset of userPosition.positions">
        {{ asset.symbol }} - {{ asset.amount }} ações - Valor individual: R$ {{ asset.currentPrice }}
      </li>
    </ul>
  </div>
  <div *ngIf="!userPosition">
    Data not available
  </div>
</ng-template>
